.history/
node_modules/
tsconfig.tsbuildinfo
.docker
coverage
.build/
dist
**/*/generated
.DS_Store
db
tmp
**/*.env*
**/*.env.*
!**/*.env.*example
# Ignore lock files
yarn.lock
package-lock.json

.serverless
