{
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "decorators": true
    },
    "baseUrl": "./src",
    "paths": {
      "#nest/*": ["./nest/*"],
      "#auth/*": ["./auth/*"],
      "#property/*": ["./property/*"],
      "#merchant/*": ["./merchant/*"],
      "#shared/*": ["./shared/*"]
    }
  }
}
