{
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "decorators": true
    },
    "baseUrl": "./src",
    "paths": {
      "#nest/*": ["./nest/*"],
      "#adm/*": ["./adm/*"],
      "#auth/*": ["./auth/*"],
      "#property/*": ["./property/*"],
      "#shared/*": ["./shared/*"],
      "#user/*": ["./user/*"],
      "#schedule/*": ["./schedule/*"],
      "#organization/*": ["./organization/*"]
    }
  }
}
