{
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "decorators": true
    },
    "baseUrl": "./src",
    "paths": {
      "#adm/*": ["./adm/*"],
      "#apollo/*": ["./apollo/*"],
      "#auth/*": ["./auth/*"],
      "#property/*": ["./property/*"],
      "#shared/*": ["./shared/*"],
      "#user/*": ["./user/*"],
      "#file/*": ["./file/*"]
    }
  }
}
