<div style="background-color: #0E515B; padding: 18px">
  <center>
    <img src="https://dev.riza.life/public/logo-white.png" />
  </center>
  <p style="text-align: center; font-size: 24px; font-weight: 500; margin-top: 36px; color: white">
    Here is your unique Riza code
  </p>
  <div style="background-color: white; padding: 20px; border-radius: 12px;">
    <p style="margin: 0; text-align: center; color: #0E515B; font-size: 30px; font-weight: 500; letter-spacing: 30px">
      {{{code}}}
    </p>
  </div>
  <div style="border-radius: 12px; background-color: white; padding: 30px; margin-top: 36px">
    <p style="font-size: 16px; color: #212226">
      Welcome to Riza 🌱
    </p>
    <br />
    <p style="font-size: 16px; color: #212226">
      A friendly, powerful, happy app that helps us all grow stronger relationships and become our best selves.
    </p>
    <br />
    <p style="font-size: 16px; color: #212226">
      Here is your unique code. Please enter this code on the sign up screen now.
    </p>
    <br />
    <p style="font-size: 16px; color: #212226">
      Love,
      <br />
      Riza
    </p>
  </div>
  <div style="margin-top: 26px; max-width: 258px; margin: 0 auto; margin-top: 26px; color: white">
    <center>
      <img src="https://dev.riza.life/public/logo-leaf.png" />
    </center>
    <p style="font-size: 14px; text-align: center">
      Need help? <a style="color: #4DBEA0" href="#">Contact our support team.</a>
      <br />
      You can <a style="color: #4DBEA0" href="#">Unsubscribe here.</a> Please send your feedback or ideas on our <a style="color: #4DBEA0" href="#">feedback site.</a>
    </p>
  </div>
</div>