<div style="background-color: #0E515B; padding: 18px">
  <center>
    <img src="https://dev.riza.life/public/logo-white.png" />
  </center>
  <p style="text-align: center; font-size: 24px; font-weight: 500; margin-top: 36px; color: white">
    Welcome to Riza!
  </p>
  <div style="border-radius: 12px; background-color: white; padding: 30px; margin-top: 36px">
    <p style="font-size: 16px; color: #212226">
      Hi {{{name}}}!
    </p>
    <br />
    <p style="font-size: 16px; color: #212226">
      Congratulations on successfully creating your account! We are so happy to welcome you to Riza (insert Riza celebration icon). As you get to know us, you’ll find that we are different in a few important ways.
    </p>
    <br />
    <p style="font-size: 16px; color: #212226">
      Riza is a set of creative tools that help people do one thing really well: love.
    </p>
    <br />
    <p style="font-size: 16px; color: #212226">
      Riza is designed to help you love yourself better and grow into the person you most want to become. And we want to help you love your closest people too, to deepen and strengthen your relationships with the folks that matter most to you.
    </p>
    <br />
    <p style="font-size: 16px; color: #212226">
      Whether you use Riza with your family, with your mentor or mentee, a set of close friends, a photography or soccer club, a recovery support group, members of your spiritual community, or any environment that requires you to grow as a person and with others, Riza has something for you.
    </p>
    <br />
    <p style="font-size: 16px; color: #212226">
      Happy Riza-ing!
      <br />
      Love, Cynthia King-Guffey and the entire Riza team
    </p>
  </div>
  <div style="margin-top: 26px; max-width: 258px; margin: 0 auto; margin-top: 26px; color: white">
    <center>
      <img src="https://dev.riza.life/public/logo-leaf.png" />
    </center>
    <p style="font-size: 14px; text-align: center">
      Need help? <a style="color: #4DBEA0" href="#">Contact our support team.</a>
      <br />
      You can <a style="color: #4DBEA0" href="#">Unsubscribe here.</a> Please send your feedback or ideas on our <a style="color: #4DBEA0" href="#">feedback site.</a>
    </p>
  </div>
</div>